---
import { SEO } from "astro-seo";
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import rockclimbing from "@/assets/rockclimbing.png";
import rockclimbing2x from "@/assets/rockclimbing@2x.png";
import rockclimbing3x from "@/assets/rockclimbing@3x.png";
import rockclimbing4x from "@/assets/rockclimbing@4x.png";
import alec_gwen from "@/assets/alec_gwen.png";
import alec_gwen2x from "@/assets/alec_gwen@2x.png";
import alec_gwen3x from "@/assets/alec_gwen@3x.png";
import alec_gwen4x from "@/assets/alec_gwen@4x.png";
import travel from "@/assets/travel.png";
import travel2x from "@/assets/travel@2x.png";
import travel3x from "@/assets/travel@3x.png";
import travel4x from "@/assets/travel@4x.png";

const title = "About";
const heading = "This page is all about me, Alec";
---

<DefaultLayout>
  <SEO
    slot="seo"
    title={`Alec Danz | ${title}`}
    description={heading}
    openGraph={{
      basic: {
        title: title,
        type: "website",
        image: `${Astro.site}share-image.png`,
      },
      optional: {
        description: heading,
        siteName: "Alec Danz",
      },
      image: {
        alt: "Alec Danz, the designer of this website, and creator of its content, in portrait",
      },
    }}
  />

  <main class="max-w-screen-lg mx-auto">
    <h2 class="text-regular font-bold mb-[1.5em]">{heading}</h2>
    <div class="max-w-[632px] mb-10">
      <p>
        I grew up in North Texas interested in design, art, and performance from
        a young age. My undergraduate degree is in Theatrical Design and
        Production from Oklahoma City University in 2015.
      </p>
      <p>
        In my spare time, I like to keep busy. I might be 80 feet up climbing
        granite in the Wichita Mountains. Or - at home tinkering in the garage
        on woodworking projects, throwing clay on my pottery wheel, or learning
        how to fix something in my historic home. It could be a Dungeons and
        Dragons night, board games day, or an afternoon with a new video game. I
        might be traveling - flying out to Florida, driving to El Paso, down in
        Dallas, or spending the week in Nicaragua. But most nights you'll find
        me cooking up something delish for dinner.
      </p>
      <p>
        Now-and-days I live in Oklahoma City with my wife Tiffany, daughter
        Gwen, two dogs <a href="https://www.instagram.com/shibasoftheshire/"
          >Bilbo and Frodo Baggins</a
        >, and our cat Lyra.
      </p>
    </div>
    <div class="flex flex-wrap gap-6 mb-[130px]">
      <img
        class="bg-placeholder-gray rounded-[4px]"
        src={rockclimbing}
        srcset={`${rockclimbing2x} 2x, ${rockclimbing3x} 3x, ${rockclimbing4x} 4x`}
        alt="Climbing in the Wichita Mountains"
        width="230"
        height="230"
      />
      <img
        class="bg-placeholder-gray rounded-[4px]"
        src={alec_gwen}
        srcset={`${alec_gwen2x} 2x, ${alec_gwen3x} 3x, ${alec_gwen4x} 4x`}
        alt="Me and my daughter enjoying ice cream"
        width="230"
        height="230"
      />
      <img
        class="bg-placeholder-gray rounded-[4px]"
        src={travel}
        srcset={`${travel2x} 2x, ${travel3x} 3x, ${travel4x} 4x`}
        alt="Travel to Niquragua a street with a sign that says 'ALTO'"
        width="230"
        height="230"
      />
    </div>
    <div class="w-[259px] h-[4px]  bg-cream dark:bg-overcast mb-[52px]"></div>
    <h2 class="max-w-[708px] text-big font-bold mb-[46px]">
      Looking for a consultation, interested in working together?
    </h2>
    <a
      href="mailto:alecdanz@gmail.com"
      class="text-link dark:text-light-link text-regular font-bold no-underline hover:text-link dark:hover:text-light-link hover:underline"
      >Connect</a
    >
    <div class="w-[259px] h-[4px] bg-cream dark:bg-overcast mt-[52px]"></div>
  </main>
</DefaultLayout>
