---
import { SEO } from "astro-seo";
import mepng from "@/assets/Me.png";
import mepng2x from "@/assets/Me@2x.png";
import mepng3x from "@/assets/Me@3x.png";
import mepng4x from "@/assets/Me@4x.png";
import CmykIcon from "@/components/CmykIcon.astro";
import DefaultLayout from "@/layouts/DefaultLayout.astro";
---

<DefaultLayout activeLink="home">
  <SEO
    slot="seo"
    title="Alec Danz | Home"
    description="Hello, I'm Alec (he/him). I'm a digital product designer living and working remotely in Oklahoma City."
    openGraph={{
      basic: {
        title: "Home",
        type: "website",
        image: `${Astro.site}Me.png`,
      },
      optional: {
        siteName: "Alec Danz",
      },
      image: {
        alt: "Alec Danz, the designer of this website, and creator of its content, in portrait",
      },
    }}
  />

  <main class="max-w-screen-lg mx-auto relative">
    <img
      src={mepng}
      srcset={`${mepng2x} 2x, ${mepng3x} 3x, ${mepng4x} 4x`}
      alt="Alec Danz, the designer of this website, and creator of its content, in portrait"
      width="92"
      height="92"
      class="mb-[17px] lg:absolute lg:top-0 lg:left-[-132px]"
    />
    <p class="w-full max-w-[846px] text-[36px] leading-[52px] font-bold mb-10">
      Hello, I'm Alec (he/him). <br />I'm a digital product designer living and
      working remotely in Oklahoma City.
    </p>
    <div class="w-full max-w-[632px] text-medium mb-10 space-y-[30px]">
      <p>
        My passion is rooted in creating products and experiences that impact
        others positively. Currently, I design at <a href="https://prenda.com/"
          >Prenda</a
        > where I've built the <a
          href="https://github.com/prenda-school/design-system"
          >Prenda Design System</a
        >, created a <a href="https://microschools.prenda.com/">marketplace</a> for
        learners to connect with teachers, and reimagined aspects of the brand and
        brand story.
      </p>
      <p>
        Prior to this I spent three and a half years at <a
          href="https://www.legalshield.com/">LegalShield</a
        > growing the design team from a group of two to a group of ten. While there
        I lead the product design group, worked to redesign LegalShield mobile experience,
        and helped to reimagine the LegalShield brand.
      </p>
      <p>
        I made this website to talk about my work and to provide a place where I
        can write & share my thoughts around design.
      </p>
    </div>
    <CmykIcon />
  </main>
</DefaultLayout>
