---
import DarkModeToggle from '@/components/DarkModeToggle.astro';

export interface Props {
  activeLink: "home" | "work" | "writing" | "about";
}
const { activeLink } = Astro.props;

const links = [
  {
    id: 'home',
    href: '/',
    text: 'Home'
  },
  {
    id: 'work',
    href: '/work',
    text: 'Work'
  },
  {
    id: 'writing',
    href: '/writing',
    text: 'Writing'
  },
  {
    id: 'about',
    href: '/about',
    text: 'About'
  },
]

function linkClass(type: string): string {
  const base =
    "text-regular text-overcast font-bold hover:text-cloudy-white dark:text-cream dark:hover:text-cloudy no-underline";
  const active =
    type === activeLink
      ? "text-night dark:text-clear flex items-center relative before:block before:w-6 before:h-6 before:rounded-full before:absolute before:left-[-30px]"
      : "";
  const color = {
    home: "before:bg-orange",
    work: "before:bg-magenta",
    writing: "before:bg-yellow",
    about: "before:bg-cyan",
  }[type];
  return `${base} ${active} ${color}`;
}
---

<nav class="max-w-screen-lg pt-10 mx-auto flex flex-row-reverse justify-between lg:flex-row lg:items-center">
  <ul class="flex flex-col items-end lg:flex-row lg:items-center lg:space-x-20">
    {links.map((link) => (
      <li>
        {link.id === activeLink
          ? <h1><a href={link.href} class={linkClass(link.id)} aria-current>{link.text}</a></h1>
          : <a href={link.href} class={linkClass(link.id)}>{link.text}</a>}
      </li>
    ))}
  </ul>
  <DarkModeToggle />
</nav>
