---
import {SEO} from 'astro-seo';
import DefaultLayout from "@/layouts/DefaultLayout.astro";

interface SelectWork {
  thumbnail: string;
  title: string;
  duration: string;
  details: string;
  link: string;
}
const selectWorks: SelectWork[] = [
  {
    thumbnail: "https://picsum.photos/seed/1/96/96",
    title: "Prenda Design System",
    duration: "2021 - Present",
    details: "Stuff about the Prenda Design System",
    link: "/work/prenda-design-system",
  },
  {
    thumbnail: "https://picsum.photos/seed/2/96/96",
    title: "Prenda marketplace",
    duration: "2021 - Present",
    details: "Create a place for parents and students to find their next microschool guide.",
    link: "/work/prenda-marketplace",
  },
  {
    thumbnail: "https://picsum.photos/seed/3/96/96",
    title: "LegalShield member experience",
    duration: "2020 - 2021",
    details:
      "Facilitated business product visions through user research, ideation, and prototyping user experiences for various Paycom applications.",
    link: "/work/legalshield-member-experience",
  },
  {
    thumbnail: "https://picsum.photos/seed/4/96/96",
    title: "LegalShield partner application",
    duration: "2018 - 2019",
    details:
      "Agency style work with clients from various industries retail, pharmaceutical, insurance, and financial services. Responsibilities included - iconography, prototyping, wireframing and other production efforts.",
    link: "/work/legalshield-partner-application",
  },
  {
    thumbnail: "https://picsum.photos/seed/5/96/96",
    title: "Mandela design system",
    duration: "2019 - 2021",
    details:
      "Designed for iPad, Mobile, Desktop, and TVos for multiple different clients. By the end of my tenure I was leading a small group of 3 designers on multiple efforts.",
    link: "/work/mandela-design-system",
  },
];

interface ResumeItem {
  title: string,
  organization: {
    name: string,
    link: string
  },
  duration: string,
  details: string
}
const resume: ResumeItem[] = [
  {
    title: 'Senior Product Designer',
    organization: {
      name: 'Prenda',
      link: 'https://www.prenda.com/'
    },
    duration: '2021 - Present',
    details: 'Created the Prenda Marketplace experience facilitating the connection of parents with guides in their communities. Designed, managed, and maintained aspects of the Prenda Design System. Lead a brand refresh as Prenda continued to evolve in the market.'
  },
  {
    title: 'Associate Principal UX Designer',
    organization: {
      name: 'LegalShield',
      link: 'https://www.legalshield.com/'
    },
    duration: '2021 - Present',
    details: 'Designed customer experiences for the LegalShield member. Full redesign of the member mobile app. Other roles include - Lead Product Designer, Senior Product Designer, and a Product Designer.'
  },
  {
    title: 'UX Designer',
    organization: {
      name: 'Paycom',
      link: 'https://www.paycom.com/'
    },
    duration: '2017 - 2018',
    details: 'Facilitated business product visions through user research, ideation, and prototyping user experiences for various Paycom applications.'
  },
  {
    title: 'UX Designer',
    organization: {
      name: 'UX Alley',
      link: 'https://www.uxalley.com/'
    },
    duration: '2016 - 2017',
    details: 'Agency style work with clients from various industries retail, pharmaceutical, insurance, and financial services. Responsibilities included - iconography, prototyping, wireframing and other production efforts.'
  },
  {
    title: 'Web Designer',
    organization: {
      name: 'Combustion Group',
      link: 'https://combustion.com/'
    },
    duration: '2014 - 2016',
    details: 'Designed for iPad, Mobile, Desktop, and TVos for multiple different clients. By the end of my tenure I was leading a small group of 3 designers on multiple efforts.'
  },
]

const volunteerExperience: ResumeItem[] = [
  {
    title: 'Mentor',
    organization: {
      name: 'adplist.org',
      link: 'https://www.adplist.org/mentors/alec-danz'
    },
    duration: '2021 - Present',
    details: 'Mentored designer on the Amazing Design People list, giving back to the design community.'
  },
  {
    title: 'Board Member',
    organization: {
      name: 'OKC Design + Tech',
      link: 'https://www.meetup.com/OKC-Design-Tech/'
    },
    duration: '2019 - 2021',
    details: 'Planning and hosting regular user group meetings, events, and gatherings. Finding and sourcing keynote speakers for group meetings.'
  },
]
---

<DefaultLayout  activeLink="work">
  <SEO
    slot="seo"
    title="Alec Danz | Work"
    description="My select work, resume, and volunteer experience"
    openGraph={{
      basic: {
        title: "Work",
        type: "website",
        image: `${Astro.site}share-image.png`,
      },
      optional: {
        description: "My select work, resume, and volunteer experience",
        siteName: "Alec Danz"
      },
      image: {
        alt: "Alec Danz, the designer of this website, and creator of its content, in portrait",
      },
    }}
  />

  <main class="max-w-screen-lg mx-auto">
    <div class="max-w-[716px]">
      <section class="mb-40">
        <h2
          class="text-regular font-bold pb-6 border-b-[1px] border-cream dark:border-overcast mb-6"
        >
          Select Work
        </h2>
        {selectWorks.map(({thumbnail, title, duration, details, link}) => (
          <a href={link} class="group no-underline hover:text-inherit dark:hover:text-inherit">
            <article class="flex flex-col lg:flex-row lg:items-start lg:space-x-6 mb-10">
              <img src={thumbnail} width="96" height="96" class="w-24 h-24 bg-placeholder-gray rounded-lg mb-[6px]" />
              <div class="w-full">
                <header class="flex flex-col lg:flex-row lg:justify-between mb-[6px]">
                  <h3 class="text-medium font-semibold text-night dark:text-clear group-hover:text-cloudy-white dark:group-hover:text-cloudy group-hover:underline">{title}</h3>
                  <span class="text-paragraph text-cloudy-white dark:text-cloudy">{duration}</span>
                </header>
                <p class="mb-[6px]">{details}</p>
              </div>
            </article>
          </a>
        ))}
      </section>
      <section class="mb-40">
        <h2
          class="text-regular font-bold pb-6 border-b-[1px] border-cream dark:border-overcast mb-6"
        >
          Resume
        </h2>
        {resume.map(({title, organization, duration, details}) => (
          <article class="mb-10">
            <header class="flex flex-col lg:flex-row lg:justify-between mb-[6px]">
              <h3 class="font-semibold text-medium text-night dark:text-clear">{title} • <a href={organization.link}>{organization.name}</a></h3>
              <span class="text-paragraph text-cloudy-white dark:text-cloudy">{duration}</span>
            </header>
            <p>{details}</p>
          </article>
        ))}
      </section>
      <section class="mb-40">
        <h2
          class="text-regular font-bold pb-6 border-b-[1px] border-cream dark:border-overcast mb-6"
        >
          Volunteer Experience
        </h2>
        {volunteerExperience.map(({title, organization, duration, details}) => (
          <article class="mb-10">
            <header class="flex flex-col lg:flex-row lg:justify-between mb-[6px]">
              <h3 class="text-medium font-semibold text-night dark:text-clear">{title} • <a href={organization.link}>{organization.name}</a></h3>
              <span class="text-paragraph text-cloudy-white dark:text-cloudy">{duration}</span>
            </header>
            <p>{details}</p>
          </article>
        ))}
      </section>
    </div>
  </main>
</DefaultLayout>
