---
import {SEO} from 'astro-seo';
import DefaultLayout from "@/layouts/DefaultLayout.astro";

const posts = await Astro.glob("./*.md").then((posts) =>
  posts.sort(
    (a, b) =>
      new Date(b.frontmatter.date).getTime() -
      new Date(a.frontmatter.date).getTime()
  )
);

function formatDate(date: string): string {
  return new Date(date).toLocaleDateString("en-US", { dateStyle: "long" });
}
---

<DefaultLayout activeLink="writing">
  <SEO
    slot="seo"
    title="Alec Danz | Writing"
    description="As a part of developing and creating my new website I wanted to include a space where I could share my thoughts. Not just about design but a space where I could talk freely."
    openGraph={{
      basic: {
        title: "Writing",
        type: "website",
        image: `${Astro.site}Me.png`,
      },
      optional: {
        siteName: 'Alec Danz'
      },
      image: {
        alt: "Alec Danz, the designer of this website, and creator of its content, in portrait",
      },
    }}
  />

  <main class="max-w-screen-lg mx-auto">
    <div class="max-w-[632px]">
    <h2 class="text-regular font-bold mb-6">Writing</h2>
      <h3 class="text-medium font-semibold mb-[58px]">
        As a part of developing and creating my new website I wanted to include a
        space where I could share my thoughts. Not just about design but a space
        where I could talk freely.
      </h3>
      {posts.map((post) => (
        <article class="py-6 border-t-[1px] last:border-b-[1px] border-cream dark:border-overcast">
          <h3 class="text-medium font-semibold"><a href={post.url} class="no-underline">{post.frontmatter.title}</a></h3>
          <time datetime={post.frontmatter.date} class="text-cloudy-white dark:text-cloudy">{formatDate(post.frontmatter.date)}</time>
        </article>
      ))}
    </div>
  </main>
</DefaultLayout>
